@charset "ISO-8859-1";

* {
    margin: 0;
    padding: 0;
}
body {
  background-color: #282c34;
  color: snow;
}
/* General Formatting */
.container {
    margin: 0 auto;
    font-family: "Noto Sans", sans-serif;
    padding-top: 3rem;
    width: 970px;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h1 {
	font-weight: bold;
	font-size: 2.5rem;
	margin-bottom: 2rem;
}

.logout, .new-project {
	font-size: .9rem;
	margin-bottom: 1rem;
}
.site-title {
	font-size: 4rem;
	margin-bottom: 0;
}
/* Error Formatting */
.errors {
	display: flex;
	flex-direction: column;
	justify-content: end;
}
.text-danger {
	font-size: .9rem;
}
.reg .errors {
	height: 8rem;
}
.login .errors {
	height: 2rem;
}
.edit-errors, .create-errors {
	height: 4rem;
}
/* Login & Registration */
.forms {
	display: flex;
	justify-content: space-evenly;
}
.login-reg {
    margin-inline: auto;
    width: 27rem;
}
.login-reg h2 {
	font-size: 2.1rem;
	margin-top: 2rem;
}
.login-reg input {
    border-radius: 20px;
    padding-left: 1rem;
    width: 22rem;
}
.login-reg label {
    font-size: 18px;
    margin-bottom: -1px;
    padding-left: 1rem;
}
.login-reg .btn {
    border-radius: 20px;
    padding: 7px;
    font-size: 14px;
    margin-inline: auto;
    width: 22rem;
    margin-left: -12px;
    border-width: 2px;
}

/* Dashboard */
.table {
	width: 100%; 
}
.table-header {
  align-items: end;
}
.table-holder {
  background-color: #212529;
	overflow: auto;
  /* padding: 2rem; */
	max-height: 20rem;
}

.form-grp {
	margin: 1rem 0;
}
label, .label {
	color: white;
	font-size: 18px;
}


/* Tasks */

.timestamp {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: .5rem;
}

/* Animations */
.pill {
  background-color: #3e8afd;
}
.user-info-pill {
  background-color: #5f9efb;
}