@charset "ISO-8859-1";

* {
    margin: 0;
    padding: 0;
}
body {
  background-color: #212529;

  color: snow;
}
/* General Formatting */
.container {
    margin: 0 auto;
    font-family: "Noto Sans", sans-serif;
    width: 970px;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-item {
  font-size: 1.05rem;
  margin-top: -5px;
}

/* Error Formatting */
.errors {
	display: flex;
	flex-direction: column;
	justify-content: end;
}
.text-danger {
	font-size: .9rem;
}
.reg .errors {
	height: 8rem;
}
.login .errors {
	height: 2rem;
}
.edit-errors, .create-errors {
	height: 4rem;
}
/* Login & Registration */
.forms {
	display: flex;
	justify-content: space-evenly;
}
.login-reg {
    margin-inline: auto;
    width: 27rem;
}
.login-reg h2 {
	font-size: 2.1rem;
	margin-top: 2rem;
}
.login-reg input {
    border-radius: 20px;
    padding-left: 1rem;
    width: 22rem;
}
.login-reg label {
    font-size: 18px;
    margin-bottom: -1px;
    padding-left: 1rem;
}
.login-reg .btn {
    border-radius: 20px;
    padding: 7px;
    font-size: 14px;
    margin-inline: auto;
    width: 22rem;
    margin-left: -12px;
    border-width: 2px;
}

/* Dashboard */
.table {
	width: 100%; 
}
.table-header {
  align-items: end;
}
.table-holder {
  background-color: #212529;
	overflow: auto;
  /* padding: 2rem; */
	max-height: 40rem;
}

.form-grp {
	margin: 1rem 0;
}
label, .label {
	color: white;
	font-size: 18px;
}


/* Tickets */
.timestamp {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: .5rem;
}
.issue-type {
  width: 3rem; 
  height: 1.7rem; 
  font-size: .9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Animations */
.pill {
  background-color: #3e8afd;
}
.user-info-pill {
  background-color: #5f9efb;
}

/* Tooltip container */
.tool-tip {
  position: relative;
}

/* Tooltip text */
.tool-tip .tooltip-text {
  font-size: .6rem;
  visibility: hidden;
  width: 7rem;
  height: 1rem;
  background-color: rgb(177, 177, 177);
  color: #000000;
  text-align: center;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 100%;
  left: 5rem; 
  margin-left: -5rem;
  z-index: 2;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tool-tip:hover .tooltip-text {
  visibility: visible;
}